.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.isDone {
    text-decoration: line-through;
    opacity: 0.5;
}

.active {
    background-color: darkslategray;
    color: antiquewhite;
    font-weight: 700;
}

.error {
    border: 2px solid red;
    outline: none;
}